<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	xsi:schemaLocation web-app_3_1.xsd alterado para 3_1
	version alterado a versão para 3.1
 -->
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" 
	version="3.1">
  <display-name>teste</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  
  <!-- 
  	Serve para definir em qual fase de desenvolvimento está o projeto,
  	Como Development faz com que mensagens de erro exibam mais informações
  	Outros valores: Production, Development, UnitTest, SystemTest, Extension
   -->
  <context-param>
  	<param-name>javax.faces.PROJECT_STAGE</param-name>
  	<param-value>Development</param-value>  	
  </context-param>
  
  <!-- 
  	Campos do formulário submetidos em branco seram recebidos como null 
  	e não como "" vazio
   -->
  <context-param>
  	<param-name>
  		javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
  	</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <!-- 
  	Define que os campos data e hora utilizarão o fuso definido no sistema 
   -->
  <context-param>
  	<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <!-- 
  	Define quais arquivos serão exibidos (em ordem de prioridade) caso o endereço requisitado
  	não especifique um arquivo, ou seja localhost:8080
   -->
  <welcome-file-list>
  	<welcome-file>index.jsf</welcome-file>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  </welcome-file-list>
    
</web-app>